<div class="habblet-container " style="float:left; width: 560px;">
<div class="cbb clearfix settings">

<h2 class="title">Wijzig je wachtwoord</h2>
<div class="box-content">
    <p>Je bent ingelogd via E-mail Login. Om je wachtwoord te veranderen ga je naar de 'E-mail Login beheren' pagina. Klik op de onderstaande link om naar de pagina te gaan waar je je E-mail Login Wachtwoord kunt aanpassen.</p>
    <p><a href="{url}/identity/password">Klik hier om het wachtwoord van je E-mail Login te veranderen</a></p>
</div>
</div>