<div class="promo-container" style="{may_show} background-image: url('{topstory}');">
	<div class="promo-content-container">
		<div class="promo-content">
			<div class="title">{caption}</div>
			<div class="body">{snippet}</div>
		</div>
	</div>
	<div class="promo-link-container">
		<div class="enter-hotel-btn">
			<div class="open enter-btn">
				<a style="padding: 0 8px 0 19px;" href="{url}/articles/{id}-{seo}">{language_me_sidenews_readmore} &raquo;</a><b></b>
			</div>
		</div>
	</div>
</div>