<div class="habblet-container">
<div class="cbb clearfix blue">
	
	<h2 class="title">Onze Community</h2>
	<div class="box-content">
		<img align="right" src="{webbuild}/images/habbo_community.gif">
		{site_name} is een online game community voor jongeren. Je stapt in een wereld die jij nog nooit hebt gezien. 
		Je checkt in, je maakt een kamer, en het spel kan beginnen! Ga opzoek naar nieuwe vrienden in het hotel, want die zijn er genoeg.
		<br><br>
		{site_name} staat bekend om zijn stabiliteit van de website. Per dag trekken wij meer dan 100+ bezoekers aan op onze community. 
		Beleef de gezelligheid! Maak een {site_name} aan eng geniet in {site_name}!
		<br><br>
		Bekijk de statiestiek van {full_name} en bestudeer ze. 
		Elke dag komen er meer updates op {full_name} en het is een aanrader om die in de gaten te houden!
	</div>
	
</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>