<table width="450px" style="padding: 5px; margin-left: -15px; background-color: {color};">
	<tbody style="border-bottom: 1px solid #000;">
	<tr>
		<td valign="middle" width="25">
			<img src="{webbuild}/images/{badge}.gif" style="margin-top: -45px; margin-right: 5px;" />
		</td>
		
		<td valign="top">
			<b style="color: #666666; font-size: 14px;">{username}</b>
			<br><i>{motto}</i><br><br>
			<p><b>{language_staff_last_online}:</b><br>{last_online}<br></p>
			<img src="{webbuild}/v2/images/{status}.gif" />
		</td>
		
		<td valign="top" style="float: right;">
			<img style="margin-top: -15px;" src="{url}/habbo-imaging/avatarimage?figure={look}&direction=4&head_direction=3&action=wlk&gesture=sml&size=b" />
		</td>
	</tr>
	</tbody>
</table>