<div class="habblet-container">		
<div class="cbb clearfix default">
<h2 class="title">{full_name} Staff</h2>
	<div class="box-content">
		{site_name} heeft een enorm team van vrijwilligers die uren lang zich zelf elke dag inzetten om de 
		kwaliteit van de website en het hotel te verbeteren en het natuurlijk gezellig te maken.
		<br><br>
		Als onze medewerkers niet bij {site_name} waren, was {site_name} nooit zover gekomen als het vandaag de dag is.
		<br><br>
		Hier vind je het team van medewerkers die op dit moment actief zijn in {site_name}.
	</div>

<h2 class="title">Kan ik staff worden?</center></h2>
	<div class="box-content">
		Het is altijd mogelijk om {site_name} staff te worden als je maar aan een paar eisen voldoet.<br><br>
		Als je aan die eisen voldoet dan kun je {site_name} staff worden door te soliciteren.<br><br>
		Als er sollicitaties beschikbaar zijn word het vermeld in het Nieuws.
	</div>

<h2 class="title">Wie en wat?</h2>
	<div class="box-content">
		<b>De medewerkers van {site_name} zijn verdeeld in verschillende groepen.</b><br><br>
		
		<img src="{webbuild}/images/ADM.gif" style="float: left; margin-right: 10px;">
		<div style="margin-left: 50px;">
		Deze persoon zorgt voor updates, activiteiten en nieuwe meubels in het hotel en zorgt ervoor dat het Hotel online kan blijven.<br><br>
		</div>
		
		<img src="{webbuild}/images/MOD.gif" style="float: left; margin-right: 10px;">
		<div style="margin-left: 50px;">
		Deze persoon zorgt dat de 'Bad Guys' wegblijven uit {site_name} ook zorgen ze voor de gezellighied en letten goed op ze houden alles in de gaten<br><br>
		</div>
		
		<img src="{webbuild}/images/GLD.gif" style="float: left; margin-right: 10px;">
		<div style="margin-left: 50px;">
		Dit zijn de nieuwkomers in het team van {site_name} ze worden in de gaten gehouden door de rest van de medewerkers als ze goed hun best doen krijgen ze rank-up!
		</div>
	</div>
	
<h2 class="title">Staff Eisen</h2>
	<div class="box-content">
		<b>Hieronder staan een aantal eisen waaraan je moet voldoen om staff te worden.</b><br><br>
	
		<b>1.</b> Je bent minimaal 13 jaar.<br><br>
		<b>2.</b> Je kunt ABN (Algemeen beschaafd Nederlands) spreken en typen.<br><br>
		<b>3.</b> Je kunt Engels typen (denk aan de basisregels en woordjes).<br><br>
		<b>4.</b> Je moet goed met andere kunnen omgaan en problemen kunnen oplossen<br><br>
		<b>5.</b> Je mag nooit een ban hebben gehad.<br><br>
		<b>6.</b> Je moet vaak online zijn en vaak beschikbaar zijn en actief zijn in het hotel!
	</div>
</div>
</div>	
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>