<img src="{url}/habbo-imaging/avatarimage?figure={look}&direction=3&head_direction=3&crr=0&gesture=sml" width="64" height="110"/>
<div id="first-avatar-info">
	<div class="first-avatar-name">{user_name}</div>
	<div class="first-avatar-lastonline">Laatste bezoek: <span title="{last_alive}">{last_alive}</span></div>
	<a id="first-avatar-play-link" href="{url}/identity/useOrCreateAvatar/{user_id}">
		<div class="play-button-container">
			<div class="play-button"><div class="play-text">Speel</div></div>
			<div class="play-button-end"></div>
		</div>
	</a>
</div>