<div class="habblet-container ">               
        <div id="news-habblet-container">
  <div class="title">
    <div class="habblet-close"></div>
    <div>Habbo News - From the source</div>
  </div>
  <div class="content-container">
    <div id="news-articles">
      <ul id="news-articlelist" class="articlelist" style="display: none">
        {items}
      </ul>
    </div>
  </div>
  <div class="news-footer"></div>
</div>
<script type="text/javascript">    
    L10N.put("news.promo.readmore", "Read more").put("news.promo.close", "Close article");
    News.init(true);
</script>
</div>