<div id="webstore-notes-container">
<div class="movable stickie n_skin_{skin}-c" style=" left: 0px; top: 0px; z-index: 1;" id="stickie--1">
	<div class="n_skin_{skin}">
		<div class="stickie-header">
			<h3>
<img src="{webbuild}/images/myhabbo/icon_edit.gif" width="19" height="18" class="edit-button" id="stickie--1-edit" />
<script type="text/javascript">
var editButtonCallback = function(e) { openEditMenu(e, -1, "stickie", "stickie--1-edit"); };
Event.observe("stickie--1-edit", "click", editButtonCallback);
Event.observe("stickie--1-edit", "editButton:click", editButtonCallback); 
</script>
			</h3>
			<div class="clear"></div>
		</div>
		<div class="stickie-body">
			<div class="stickie-content">
                <div class="stickie-markup">{message}</div>
				<div class="stickie-footer">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<p class="warning">LETOP! De tekst kan niet meer worden bewerkt nadat je het plakbriefje heb geplaats op jou pagina.</p>
<p>
<a href="#" class="new-button" id="webstore-notes-edit"><b>Aanpassen</b><i></i></a>
<a href="#" class="new-button" id="webstore-notes-add"><b>Plakbriefje toevoegen aan pagina</b><i></i></a>
</p>
<div class="clear"></div>