</div>
    </div>
    <div id="inventory-preview-container">
        <div id="inventory-preview-default"></div>
        <div id="inventory-preview"><h4>&nbsp;</h4>

<div id="inventory-preview-box"></div>

<div id="inventory-preview-place" class="clearfix">
    <div class="clearfix">
        <a href="#" class="new-button" id="inventory-place"><b>Plaats</b><i></i></a>
    </div>
    <div class="clearfix">
        <a href="#" class="new-button" id="inventory-place-all"><b>Plaats alles</b><i></i></a>
    </div>
</div>

</div>
    </div>
</div>

<div id="webstore-close-container">
    <div class="clearfix"><a href="#" id="webstore-close" class="new-button"><b>Sluiten</b><i></i></a></div>
</div>
</div>