		<h4 title=""></h4>
	
		<div id="webstore-preview-box"></div>
	
		<div id="webstore-preview-price">
			Prijs:<br /><b>{price} Credits</b>
		</div>
	
		<div id="webstore-preview-purse">
			<b>{credits}</b> credits<br />
	
			{if {not_enough}}
				<a href="{url}/credits" target="_blank">Meer credits</a>
			{endif}
		</div>
	
		<div id="webstore-preview-purchase" class="clearfix">
	    	<div class="clearfix">
	        	<a href="#" class="new-button" id="webstore-purchase"><b>Kopen</b><i></i></a>
	    	</div>
		</div>
	
		<span id="webstore-preview-bg-text" style="display: none;">Bekijken</span>