		<li id="maincategory-3-backgrounds" class="main-category-no-subcategories">
            <div>Wallpapers</div>
            <ul class="purchase-subcategory-list" id="main-category-items-3">
                <li id="subcategory-3-0-backgrounds" class="subcategory">
                    <div>Wallpapers</div>
                </li>
            </ul>
        </li>
        <li id="maincategory-2-stickie_notes" class="main-category-no-subcategories">
            <div>Plakbriefjes</div>
            <ul class="purchase-subcategory-list" id="main-category-items-2">
                <li id="subcategory-2-0-stickie_notes" class="subcategory">
                    <div>No Bobba</div>
                </li>
            </ul>
        </li>
	</ul>
</div>
</div>