<div id="column1" class="column"> 
    <div class="habblet-container"> 
        <div class="cbb clearfix red "> 
            <h2 class="title">User's personal Habbo page is hidden.</h2> 
 
            <div id="notfound-content" class="box-content"> 
                <p class="error-text"> 
                    Unfortunately it seems that the Habbo page you were trying to reach has been hidden by the owner.
                </p> 
                <img id="error-image" src="http://images.habbo.com/habboweb/{webbuild}/web-gallery/v2/images/activehomes/habbo_skeleton.gif" /> 
 
            </div> 
        </div> 
    </div> 
</div>