<div class="habblet-container">		
<div class="cbb clearfix orange">
<h2 class="title">Bel-Credits kopen</h2>

<style type="text/css">
.method-group.online.bestvalue{
	background-image: url(//habboo-a.akamaihd.net/c_images/credits_nl/nl_strike_top_aanbieding.png);
	background-repeat: no-repeat;
}
</style>

<div class="method-group online clearfix bestvalue cbs2">
	<div id="group-content-810">
		<div id="price-container">
			<div id="pricepoints">
				<form class="selectPricePointFormForConfirmationPage" action="https://www.habbo.nl/purchase/confirmPaymentDetails" method="post" >
				<input type="hidden" name="cp" value="false"/>
				<ul>
					<li>
					<label>
						<span class="radio"><input type="radio" name="pricePointId"  value="426"/></span>

						<div class="pricepoint-amount-container">
							<div class="credit-amount">80</div>
							<div class="credit-amount-x right"></div>
							<div class="credit-amount-coin right"></div>
						</div>
						
						<span class="product-description"></span>
						<span class="credit-amount-equals"></span>
						<span class="price-in-cents">
							<span class="currency-symbol">€</span> 5,00
						</span>

						<span id="426-locale" class="l" style="display:none; visibility:hidden;">nl_NL</span>
						<span id="426-creditAmount" class="c" style="display:none; visibility:hidden;">40</span>
						<span id="426-priceInCents" class="p" style="display:none; visibility:hidden;">500</span>
					</label>
					</li>
					
					<li>
					<label>
						<span class="radio"><input type="radio" name="pricePointId" checked="checked" value="427"/></span>
						
						<div class="pricepoint-amount-container">
						<div class="credit-amount">170</div>
						<div class="credit-amount-x right"></div>
							<div class="credit-amount-coin right"></div>
						</div>

						<span class="product-description"></span>
						<span class="credit-amount-equals"></span>
						<span class="price-in-cents">
							<span class="currency-symbol">€</span> 10,00
						</span>

						<span id="427-locale" class="l" style="display:none; visibility:hidden;">nl_NL</span>
						<span id="427-creditAmount" class="c" style="display:none; visibility:hidden;">80</span>
						<span id="427-priceInCents" class="p" style="display:none; visibility:hidden;">1000</span>
					</label>
					</li>
					
					<li>
					<label>
						<span class="radio"><input type="radio" name="pricePointId"  value="428"/></span>

						<div class="pricepoint-amount-container">
							<div class="credit-amount">400</div>
							<div class="credit-amount-x right"></div>
							<div class="credit-amount-coin right"></div>
						</div>

						<span class="product-description"></span>
						<span class="credit-amount-equals"></span>
						<span class="price-in-cents">
							<span class="currency-symbol">€</span> 25,00
						</span>

						<span id="428-locale" class="l" style="display:none; visibility:hidden;">nl_NL</span>
						<span id="428-creditAmount" class="c" style="display:none; visibility:hidden;">165</span>
						<span id="428-priceInCents" class="p" style="display:none; visibility:hidden;">2000</span>
					</label>
					</li>
				
					<li class="last">
					<label>
						<span class="radio"><input type="radio" name="pricePointId"  value="429"/></span>

						<div class="pricepoint-amount-container">
							<div class="credit-amount">820</div>
							<div class="credit-amount-x right"></div>
							<div class="credit-amount-coin right"></div>
						</div>

						<span class="product-description"></span>
						<span class="credit-amount-equals"></span>
						<span class="price-in-cents">
							<span class="currency-symbol">€</span> 50,00
						</span>

						<span id="429-locale" class="l" style="display:none; visibility:hidden;">nl_NL</span>
						<span id="429-creditAmount" class="c" style="display:none; visibility:hidden;">440</span>
						<span id="429-priceInCents" class="p" style="display:none; visibility:hidden;">5000</span>
					</label>
					</li>
				</ul>
				<a href="#" onclick="return submitCreditForm($(this).up('form'), 'online', '810', '');" class="large-button large-green-button">
					<span><b>Ga verder</b></span><i></i>
				</a>
				</form>
			</div>
			<div id="methods">
				<ul>
					<li><a href="https://www.paysafecard.com/nl-nl/"><img src="//habboo-a.akamaihd.net/c_images/nl_partner_logos/partner_logo_paysafe_001.png"/></a></li>
					<li><a href="" class="terms"></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="method-group phone clearfix cbs2">
	<div class="method idx1 m-ivrnl">
		<div class="method-content">
			<h2>Telefoon</h2>
			<div class="summary clearfix">
			<ol>
				<li><div>Bel naar het nummer<em><b>0900-9399</b></em></div></li>
				<li><div>Toets de volgende code in<em>428497</em></div></li>
				<li><div>Wacht 13 minuten en 20 seconden.</div></li><br>
				<form action="/belcredits?step2=2&payline=0900-9399&paycode=428497" method="post">
					<input type="submit" class="submit" value="Klik hier na het bellen" />
				</form>
			</ol>
			</div>
		</div>
		<div class="price">
			<div><div><b class="amount">15</b><b>€1,30</b></div></div>
		</div>
		<div class="smallprint">
			Bij het bellen vanaf mobiel brengt de provider extra kosten in rekening bel dus alleen met een vaste telefoon.
		</div>
	</div>

	<div class="method idx1 m-ivrnl">
		<div class="method-content">
			<h2>Telefoon</h2>
			<div class="summary clearfix">
			<ol>
				<li><div>Bel naar het nummer<em><b>0900-9399</b></em></div></li>
				<li><div>Toets de volgende code in<em>428497</em></div></li>
				<li><div>Wacht 13 minuten en 20 seconden.</div></li><br>
				<form action="/belcredits?step2=2&payline=0900-9399&paycode=428497" method="post">
					<input type="submit" class="submit" value="Klik hier na het bellen" />
				</form>
			</ol>
			</div>
		</div>
		<div class="price">
			<div><div><b class="amount">35</b><b>€2,60</b></div></div>
		</div>
		<div class="smallprint">
			Bij het bellen vanaf mobiel brengt de provider extra kosten in rekening bel dus alleen met een vaste telefoon.
		</div>
	</div>
	
</div>
<div class="method-group phone clearfix cbs2">
	
	<div class="method idx1 m-ivrnl">
		<div class="method-content">
			<h2>Telefoon</h2>
			<div class="summary clearfix">
			<ol>
				<li><div>Bel naar het nummer<em><b>0900-9399</b></em></div></li>
				<li><div>Toets de volgende code in<em>428497</em></div></li>
				<li><div>Wacht 13 minuten en 20 seconden.</div></li><br>
				<form action="/belcredits?step2=2&payline=0900-9399&paycode=428497" method="post">
					<input type="submit" class="submit" value="Klik hier na het bellen" />
				</form>
			</ol>
			</div>
		</div>
		<div class="price">
			<div><div><b class="amount">55</b><b>€3,90</b></div></div>
		</div>
		<div class="smallprint">
			Bij het bellen vanaf mobiel brengt de provider extra kosten in rekening bel dus alleen met een vaste telefoon.
		</div>
	</div>

	<div class="method idx1 m-ivrnl">
		<div class="method-content">
			<h2>Telefoon</h2>
			<div class="summary clearfix">
			<ol>
				<li><div>Bel naar het nummer<em><b>0900-9399</b></em></div></li>
				<li><div>Toets de volgende code in<em>428497</em></div></li>
				<li><div>Wacht 13 minuten en 20 seconden.</div></li><br>
				<form action="/belcredits?step2=2&payline=0900-9399&paycode=428497" method="post">
					<input type="submit" class="submit" value="Klik hier na het bellen" />
				</form>
			</ol>
			</div>
		</div>
		<div class="price">
			<div><div><b class="amount">80</b><b>€5,20</b></div></div>
		</div>
		<div class="smallprint">
			Bij het bellen vanaf mobiel brengt de provider extra kosten in rekening bel dus alleen met een vaste telefoon.
		</div>
	</div>	
</div>

<script type="text/javascript">
document.observe("dom:loaded", function () {
new CreditsList('false');
});
</script>

<div class="moreinfo-section">
	<a href="{url}/belcredits/be" style="font-size: 17px;">Woon je in België Klik dan hier</a>
</div>

<div class="credits-footer clearfix">
	<div class="disclaimer" style="width: 100%;">
		<h3><span>Vraag altijd eerst toestemming aan je ouders/verzorgers.</span></h3>
		Als je je hier niet aan houdt, riskeer je een ban.<br>
		Lukt het niet om Credits te kopen, neem dan contact met ons op via de 
		<a onclick="openOrFocusHelp(this); return false" target="habbohelp" href="https://help.habbo.nl/home">Habbo Help Tool</a>.<br>
		Digitale content wordt onmiddellijk geleverd en bij aankoop wordt aanvaard dat er geen herroepingsrecht is.
	</div>
</div>
</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>

<div class="habblet-container">		
	<div class="cbb clearfix darkgray">
		<div id="redeem-habblet">
			<div class="redeem-balance">
				<p class="redeem-balance-username">Je hebt nu:</p>
				<p class="redeem-balance-text"></p>
				<p><span class="redeem-balance-amount">{belcredits}</span></p>
			</div>
			
			<div class="redeem-redeeming-text">
				<p class="redeeming-text">Vul hier de Bel-Creditcode in<br>om de code te verzilveren.</p>
			</div>

			<div class="redeem-form-container clearfix">
				<form method="post" action="http://www.habbo.nl/credits" id="voucher-form">
				<div class="redeem-redeeming">
					<div><input type="text" name="voucherCode" value="" class="redeemcode" size="8" /></div>
					
					<div class="redeem-redeeming-button">
						<a href="#" class="new-button green-button redeem-submit exclude"><b><span></span>Verzilver</b><i></i></a>
					</div>
				</div>
				</form>
			</div>
		</div>
		
		<script type="text/javascript">
		document.observe("dom:loaded", function() { new NewRedeemHabblet(); });
		</script>
	</div>
</div>
<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>