<div id="mypage-wrapper" class="cbb blue">
<div class="box-tabs-container box-tabs-left clearfix">
	{if {may_edit}}
	<a href="{url}/myhabbo/startSession/{home_id}" id="edit-button" class="new-button dark-button edit-icon" style="float:left"><b><span></span>Aanpassen</b><i></i></a>
	<div class="myhabbo-view-tools"></div>
	{endif}
	
    <h2 class="page-owner">{home_name}</h2>
    <ul class="box-tabs"></ul>
</div>  
    <div id="mypage-content">
		{if {edit_mode}}
		<div id="top-toolbar" class="clearfix">
		    <ul>
		        <li><a href="#" id="inventory-button">Jouw items</a></li>
		        <li><a href="#" id="webstore-button">Homescatalogus</a></li>
		    </ul>
		    
		    <form action="#" method="get" style="width: 50%">
		        <a id="cancel-button" class="new-button red-button cancel-icon" href="#"><b><span></span>Afbreken</b><i></i></a>
		        <a id="save-button" class="new-button green-button save-icon" href="#"><b><span></span>Opslaan</b><i></i></a>
		    </form>
		</div>
		{endif}
        
        <div id="mypage-bg" class="{background}">
            <div id="playground-outer">
                <div id="playground">
					{home_items}
                </div>
            </div>

        </div>
    </div>
</div>
{if {edit_mode}}
<script language="javascript" type="text/javascript">
initEditToolbar();
initMovableItems();
document.observe("dom:loaded", initDraggableDialogs);
Utils.setAllEmbededObjectsVisibility('hidden');
Pinger.start();
</script>

	<div id="edit-save" style="display:none;"></div>
{endif}
    </div>
<div id="footer">
    <p class="footer-links">{footer_links}</p>
    <p class="copyright">{cookie_link}<br>{copyright}</p>
</div></div>

</div>

{if {edit_mode}}     
<div id="edit-menu" class="menu">
    <div class="menu-header">
        <div class="menu-exit" id="edit-menu-exit"><img src="{webbuild}/images/dialogs/menu-exit.gif" alt="" width="11" height="11" /></div>
        <h3>Edit</h3>
    </div>
    <div class="menu-body">
        <div class="menu-content">
            <form action="#" onsubmit="return false;">
                <div id="edit-menu-skins">
    <select id="edit-menu-skins-select">
            <option value="1" id="edit-menu-skins-select-defaultskin">Default</option>
            <option value="6" id="edit-menu-skins-select-goldenskin">Golden</option>
            <option value="3" id="edit-menu-skins-select-metalskin">Metal</option>
            <option value="5" id="edit-menu-skins-select-notepadskin">Notepad</option>
            <option value="2" id="edit-menu-skins-select-speechbubbleskin">Speech Bubble</option>
            <option value="4" id="edit-menu-skins-select-noteitskin">Stickie Note</option>
    </select>
                </div>
                <div id="edit-menu-stickie">
                    <p>Warning! If you click 'Remove', the note will be permanently deleted.</p>
                </div>
                <div id="rating-edit-menu">
                    <input type="button" id="ratings-reset-link" 
                        value="Reset rating" />
                </div>
                <div id="highscorelist-edit-menu" style="display:none">
                    <select id="highscorelist-game">
                        <option value="">Select game</option>
                        <option value="1">Battle Ball: Rebound!</option>
                        <option value="2">SnowStorm</option>
                        <option value="0">Wobble Squabble</option>
                    </select>
                </div>
                <div id="edit-menu-remove-group-warning">
                    <p>This item belongs to another user. If you remove it, it will return to their inventory.</p>
                </div>
                <div id="edit-menu-gb-availability">
                    <select id="guestbook-privacy-options">
                        <option value="private">Friends only</option>
                        <option value="public">Public</option>
                    </select>
                </div>
                <div id="edit-menu-trax-select">
                    <select id="trax-select-options"></select>
                </div>
                <div id="edit-menu-remove">
                    <input type="button" id="edit-menu-remove-button" value="Remove" />
                </div>
            </form>
            <div class="clear"></div>
        </div>
    </div>
    <div class="menu-bottom"></div>
</div>
<script language="JavaScript" type="text/javascript">
	Event.observe(window, "resize", function() { if (editMenuOpen) closeEditMenu(); }, false);
	Event.observe(document, "click", function() { if (editMenuOpen) closeEditMenu(); }, false);
	Event.observe("edit-menu", "click", Event.stop, false);
	Event.observe("edit-menu-exit", "click", function() { closeEditMenu(); }, false);
	Event.observe("edit-menu-remove-button", "click", handleEditRemove, false);
	Event.observe("edit-menu-skins-select", "click", Event.stop, false);
	Event.observe("edit-menu-skins-select", "change", handleEditSkinChange, false);
	Event.observe("guestbook-privacy-options", "click", Event.stop, false);
	Event.observe("guestbook-privacy-options", "change", handleGuestbookPrivacySettings, false);
	Event.observe("trax-select-options", "click", Event.stop, false);
	Event.observe("trax-select-options", "change", handleTraxplayerTrackChange, false);
</script>
{endif}

{if {no_edit_mode}}
<div class="cbb topdialog" id="guestbook-form-dialog">
    <h2 class="title dialog-handle">Edit Guestbook entry</h2>
    
    <a class="topdialog-exit" href="#" id="guestbook-form-dialog-exit">X</a>
    <div class="topdialog-body" id="guestbook-form-dialog-body">
<div id="guestbook-form-tab">
<form method="post" id="guestbook-form">
    <p>
        Note: the message length must not exceed 200 characters
        <input type="hidden" name="ownerId" value="2147367" />
    </p>
    <div>
        <textarea cols="15" rows="5" name="message" id="guestbook-message"></textarea>
    <script type="text/javascript">
        bbcodeToolbar = new Control.TextArea.ToolBar.BBCode("guestbook-message");
        bbcodeToolbar.toolbar.toolbar.id = "bbcode_toolbar";
        var colors = { "red" : ["#d80000", "Red"],
            "orange" : ["#fe6301", "Orange"],
            "yellow" : ["#ffce00", "Yellow"],
            "green" : ["#6cc800", "Green"],
            "cyan" : ["#00c6c4", "Cyan"],
            "blue" : ["#0070d7", "Blue"],
            "gray" : ["#828282", "Gray"],
            "black" : ["#000000", "Black"]
        };
        bbcodeToolbar.addColorSelect("Color", colors, true);
    </script>
<div id="linktool">
    <div id="linktool-scope">
        <label for="linktool-query-input">Create link:</label>
        <input type="radio" name="scope" class="linktool-scope" value="1" checked="checked"/>Habbos
        <input type="radio" name="scope" class="linktool-scope" value="2"/>Rooms
        <input type="radio" name="scope" class="linktool-scope" value="3"/>Groups
    </div>
    <input id="linktool-query" type="text" name="query" value=""/>
    <a href="#" class="new-button" id="linktool-find"><b>Find</b><i></i></a>
    <div class="clear" style="height: 0;"><!-- --></div>
    <div id="linktool-results" style="display: none">
    </div>
    <script type="text/javascript">
        linkTool = new LinkTool(bbcodeToolbar.textarea);
    </script>
</div>
    </div>

    <div class="guestbook-toolbar clearfix">
        <a href="#" class="new-button" id="guestbook-form-cancel"><b>Cancel</b><i></i></a>
        <a href="#" class="new-button" id="guestbook-form-preview"><b>Preview</b><i></i></a>    
    </div>
</form>
</div>
<div id="guestbook-preview-tab">&nbsp;</div>
    </div>
</div>  
<div class="cbb topdialog" id="guestbook-delete-dialog">
    <h2 class="title dialog-handle">Delete entry</h2>
    
    <a class="topdialog-exit" href="#" id="guestbook-delete-dialog-exit">X</a>
    <div class="topdialog-body" id="guestbook-delete-dialog-body">
<form method="post" id="guestbook-delete-form">
    <input type="hidden" name="entryId" id="guestbook-delete-id" value="" />
    <p>Are you sure you want to delete this entry?</p>
    <p>
        <a href="#" id="guestbook-delete-cancel" class="new-button"><b>Cancel</b><i></i></a>
        <a href="#" id="guestbook-delete" class="new-button"><b>Delete</b><i></i></a>
    </p>
</form>
    </div>
</div>  
{endif}

<script type="text/javascript">
if (typeof HabboView != "undefined") {
    HabboView.run();
}
</script>

</body>
</html>
