<body id="embedpage"> 
<div id="overlay"></div> 

<div id="container"> 
<div id="content">
<div id="landing-container">
	<div class="cbb error-message">
		<ul style="text-align: center">
			<li>Oeps, er ging iets mis! We staan ​​op het punt de vraag zo snel als we kunnen te beantwoorden. Sorry voor het ongemak.</li>

	    </ul>

      </div>

      <div style="width:250px; margin: 10px auto"><a href="{url}/" id="rpx-landingpage-redirect" class="new-button fill"><b>Terug naar de homepagina</b><i></i></a></div>

  </div>

  <div id="landing-caption">{full_name}.. Chat, maak nieuwe vrienden, doe mee en val op!</div>



</div> 
<div id="footer"> 
	<p class="footer-links">{footer_links}</p> 
	<p class="copyright">{copyright}</p> 
</div>    <script type="text/javascript"> 
        Embed.decorateFooterLinks();
    </script> 
</div> 
<script type="text/javascript"> 
if (typeof HabboView != "undefined") {
	HabboView.run();
}
</script> 

</body> 
</html> 