<body id="embedpage">
<div id="overlay"></div>

<div id="container">

    <div class="settings-container clearfix">
        <h1>E-mail Login beheren</h1>
		<div id="back-link">
		<a href="{url}/me"><img src="{webbuild}/v2/images/hotel.png" id="back-to-main"></a>
        <a href="{url}/identity/avatars">Mijn {site_name}namen</a> &raquo; <a href="{url}/identity/settings"> E-mail Login beheren</a> &raquo; Mijn E-mailadres
        </div>
		<div style="padding: 10px 10px 0 10px">
			
		{if {is_error}}
		<div class="error-messages-holder">
            <h3>Verander de volgende gegevens en stuur opnieuw in.</h3>
            <ul>
                <li><p class="error-message">{error}</p></li>
            </ul>
        </div><br>
        {endif}
            
        <p>Typfout gemaakt? of wil je gewoon op een andere mailadres inloggen, als jij je huidige wachtwoord, email -en je nieuwe email invult gebeurt het allemaal vanzelf!</p>
        <h3>Huidige E-mailadres</h3>
        <div class="primary-email">{email}</div>
        <h3>Nieuw E-mailadres</h3>
            Let erop dat je je nieuwe mailadres correct invult.
            <div class="form-box" style="margin-top: 10px">
				<form id="change-password" name="ChangeEmail" method="post">
				<input type="hidden" name="fromClient" value="false" />
				<div class="field">
					
					<div class="field field-password {new_error}">
						<label for="newEmailAddress" style="width: auto">Vul je nieuwe mailadres in</label>
						<input type="text" id="newEmailAddress" name="newEmailAddress" value="{newval}" class="text-field" />
					</div>
					
					<div class="field field-password {current_error}">
						<label for="passwordField" style="width: auto;">Huidige wachtwoord</label>
						<input type="password" id="passwordField" name="currentPassword" value="{curval}" class="text-field" />
					</div>
					
				</div>
            </div>
			<div style="overflow: hidden;">
				<a href="javascript: document.ChangeEmail.submit();" class="new-button password-button" id="next-btn" onclick="$(this).up('form').submit(); return false;"><b>Verander</b><i></i></a>
				<input type="submit" id="next" value="Verander" />
			</div>
			</form>
        </div>
    </div>
    <div class="settings-container-bottom"></div>

	<script type="text/javascript">
	document.observe("dom:loaded", function() {
		$(document.body).addClassName("js");
	});
	</script>

<div id="footer">
    <p class="footer-links">{footer_links}</p>
    <p class="copyright">{copyright}</p>
</div>    

<script type="text/javascript">
 Embed.decorateFooterLinks();
</script>

</div>
<script type="text/javascript">
if (typeof HabboView != "undefined") {
    HabboView.run();
}
</script>

</body>
</html>