<div class="habblet-container ">
<div class="cbb clearfix red ">
	<h2 class="title">Pagina niet gevonden!</h2>
	<div id="notfound-content" class="box-content">
		<p class="error-text">
			Sorry, de pagina die je probeert te vinden bestaat niet.</p> 
			<img id="error-image" src="{webbuild}/v2/images/error.gif" />
    
		<p class="error-text">
			Controleer opnieuw of je de juiste url hebt. Kom je dan weer hier terecht (welkom terug!) 
			ga dan met de 'Back' knop terug naar waar je vandaan kwam.</p>
</div>				
</div>
</div>